﻿@page
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Render a chart</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/site/main.css" rel="stylesheet" />
    <script src="~/lib/chart.js/dist/Chart.js"></script>
</head>
<body>
    <h1>Render a chart</h1>

    <div class="row">
        <div class="col col-8">
            <div class="chartjs-size-monitor">
                <div class="chartjs-size-monitor-expand">
                    <div class=""></div>
                </div>
                <div class="chartjs-size-monitor-shrink">
                    <div class=""></div>
                </div>
            </div>

            <canvas id="canvas" class="chartjs-render-monitor"></canvas>
        </div>

        <div class="col col-4">
            <h3>Enter the data object</h3>
            <div>
                <textarea id="data-input"></textarea>
            </div>
            <button id="update-btn">Update chart</button>
        </div>
    </div>

    <script src="~/site/show.js"></script>
</body>
</html>
