﻿body {
    background: #2b2323;
}

button {
    background: #414594;
}

* {
    color: #b6ff00;
}

#canvas {
    display: block;
    height: 362px;
    width: 724px;
}

#data-input {
    width: 100%;
    height: 350px;
    background: #3c3737;
    color: #61c9e0;
}
